@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

body{
    padding: 0;
    margin: 0;
background-color: rgb(24, 20, 46);
}
ul{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: rgb(89, 124, 145);
    color: rgb(255, 255, 255);
}
/****************COMMENTAIRE******************/
header nav{
    overflow: hidden;
    background-color: rgba(61, 88, 88, 0.315);
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
    font-size: 1.2em;
    float: right;   
    font-family: 'Dancing script', 'cursive';    
}
header li a{
    text-decoration: none;
    padding: 18px 16px;
    display: block;
    text-align: center;
}
#logo{
    font-family: 'Dancing script', 'cursive';
    font-weight: bold;
    float: left; 
    color: rgb(253, 253, 253);  
      
}
#acceuil{
    font-family: 'Dancing script', 'cursive';
    font-weight: bold;
    text-align: center; 
    color: rgb(253, 253, 253);  
      
}
#travail h2{
    font-family: 'Dancing script', 'cursive';
    font-weight: bold;
    text-align: center; 
    color: rgb(253, 253, 253);  
      
}
#travail p{
    font-family: 'arial black', 'cursive';
    font-weight: bold;
    text-align: center; 
    color: rgb(253, 253, 253);  
      
}
#travail strong{
    font-family: 'arial black', 'cursive';
    font-weight: bold; 
    color: rgb(253, 253, 253);  
      
}
#travail img{
        border-radius: 10px;
        box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);

      
}

#travail audio{
    float: right; 
    color: rgb(13, 198, 223);  
      
}
#cv h2{
    font-family: 'Dancing script', 'cursive';
    font-weight: bold;
    text-align: center; 
    color: rgb(253, 253, 253);  
      
}
#cv ul{
text-align: center;
}

#cv p{
    font-family: 'arial black', 'cursive';
    font-weight: bold;
    color: rgb(253, 253, 253);  
      
}
#a-propos h2{
    font-family: 'Dancing script', 'cursive';
    font-weight: bold;
    text-align: center; 
    color: rgb(253, 253, 253);  
      
}
#a-propos p{
    font-family: 'arial black', 'cursive';
    font-weight: bold;
    color: rgb(253, 253, 253);  
      
}
/************FOOTER***********/

footer{
    background-color: white;
    color: rgb(13, 14, 13);
    padding: 20px 40px 100px 20px;
    text-align: center;
    margin: 3% auto;
    }
    #petit{
        text-align: left;
    }
    #deuxièmetrait{
        text-align: right;
        margin: ;
        padding: 0 10%;
    }
    #rn{
        text-align: center;
    }
/*************bye**************/
#bye{
    color: rgb(253, 253, 253);  
   
}

    
    


